In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import requests
import json
from bs4 import BeautifulSoup
%matplotlib inline

C:\ProgramData\Anaconda3\lib\site-packages\statsmodels\tools\_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [100]:
# Define key
api_key = 'Your API Key Goes Here!'

from yelpapi import YelpAPI
yelp_api = YelpAPI(api_key, timeout_s=1.1111111)

# Define Endpoint and Header
ENDPOINT = 'https://api.yelp.com/v3/businesses/search'
HEADERS = {'Authorization': 'bearer %s' % api_key}

In [73]:
# List of Categories to Include

cats = ['restaurants',
           'shopping',
           'nightlife',
           'laundromat',
           'spas',
           'hotelstravel',
           'localservices',
           'food',
           'eventservices',
           'beautysvc',
           'dryclean',
           'hair',
           'bar',
           'bagels',
           'breweries',
           'burgers',
           'coffee',
           'french',
           'gourmet',
           'grocery',
           'steak',
           'sushi',
           'wine_bars']

### POOR CITIES YELP DATA PULL

In [4]:
# list of poorest cities in all U.S. states
poor_cities = ['Selma, AL',
               'Ketchikan, Alaska',
               'South Tucson, Arizona',
               'Helena, Arkansas',
               'Clearlake, CA',
               'Federal Heights, Colorado',
               'Willimantic, CT',
               'Claymont, Delware',
               'Belle Glade, Florida',
               'Brunswick, GA',
               'Hawaiian Paradise Park, Hawaii',
               'Bonners Ferry, Idaho',
               'Centreville, IL',
               'Knox, Indiana',
               'Onawa, Iowa',
               'Fort Scott, Kansas',
               'Glasgow, Kentucky',
               'Bastrop, Louisiana',
               'Presque Isle, Maine',
               'Cumberland, MD', 
               'North Adams, MA',
               'Hamtramck, Michigan',
               'Brainerd, Minnesota',
               'Vicksburg, Mississippi',
               'Fredericktown, Missouri',
               'Conrad, Montana',
               'Red Cloud, Nebraska',
               'Laughlin, Nevada',
               'Littleon, New Hampshire',
               'Holiday City-Berkeley, NJ',
               'Deming, NM',
               'New Square, NY',
               'Forest City, NC',
               'Devils Lake, North Dakota',
               'East Cleveland, Ohio',
               'Wewoka, Oklahoma',
               'Coquille, Oregon',
               'Johnstown, PA',
               'Central Falls, RI',
               'Central, SC',
               'Sisseton, South Dakota',
               'Camden, Tennessee',
               'San Benito, Texas',
               'South Salt Lake, Utah',
               'St. Johnsbury, Vermont',
               'Bensley, Virginia',
               'Chewelah, WA',
               'Beckley, WV',
               'Whitewater, Wisconsin',
               'Wheatland, Wyoming'    
]

# source: https://www.usatoday.com/story/money/2019/05/07/poorest-cities-in-every-state-in-the-us/39431283/

In [5]:
# instantiate list for future appending
poor_list = []

# Set range
offset_range = range(0,10)

In [7]:
# For Loop Time !

for pcity in poor_cities:
    for gamma in offset_range:
        
        # Define parameters
        PARAMETERS = {'limit': 50,
                      'sort_by' : 'review_count',
                      'radius': 6_440,  # ~4 miles
                      'categories': cats,
                      'locale': 'en_US',
                      'price':'1,2,3,4',
                      'location': pcity,
                      'offset':0+(50*gamma)}

        # Make a request to Yelp API
        res = requests.get(url = ENDPOINT,
                           params=PARAMETERS,
                           headers = HEADERS)
        res2 = res.json()

        for i in range(len(res2['businesses'])):
            a = res2['businesses'][i]['id'] # business id
            b = res2['businesses'][i]['name'] # name
            c = res2['businesses'][i]['review_count']
            d = res2['businesses'][i]['rating']
            e = res2['businesses'][i]['price']
            f = res2['businesses'][i]['location']['city']
            g = res2['businesses'][i]['location']['state']
            h = res2['businesses'][i]['location']['country']
            x = res2['businesses'][i]['location']['zip_code'] # zip
            j = res2['businesses'][i]['categories'] # categories, unfortunately couldn't get this one parsed

            poor_list.append([a,b,c,d,e,f,g,h,x,j])

In [9]:
len(poor_list)

6527

### RICH CITIES YELP DATA PULL

In [10]:
# SCRAPE, CLEAN, PULL and CREATE LIST OF RICH CITIES FROM ONLINE SITE

url = 'https://www.usatoday.com/story/money/economy/2018/05/30/richest-town-in-every-state/35316557/'
res = requests.get(url)
soup = BeautifulSoup(res.content, 'lxml')

soup

finder = soup.find_all('h3', {'class':'gnt_ar_b_h2'})
finder

rich_city_list = []

for row in finder:
    z = row.text
    rich_city_list.append(z)

rich_city_list

# source: https://www.usatoday.com/story/money/economy/2018/05/30/richest-town-in-every-state/35316557/

['Mountain Brook, Alabama',
 'Fishhook, Alaska',
 'Tanque Verde, Arizona',
 'Tontitown, Arkansas',
 'Los Altos Hills, Calif.',
 'The Pinery, Colorado',
 'Darien, Connecticut',
 'North Star, Delaware',
 'Key Biscayne, Florida',
 'Senoia, Georgia',
 'Ocean Pointe, Hawaii',
 'Eagle, Idaho',
 'Winnetka, Illinois',
 'St. John, Indiana',
 'Johnston, Iowa',
 'Fairway, Kansas',
 'Indian Hills, Kentucky',
 'Zachary, Louisiana',
 'Saco, Maine',
 'Travilah, Maryland',
 'Winchester, Massachusetts',
 'Village of Grosse Pointe Shores, Michigan',
 'Dellwood, Minnesota',
 'Brandon, Mississippi',
 'Town and Country, Missouri',
 'Helena Valley Northwest, Montana',
 'Waverly, Nebraska',
 'Spring Creek, Nevada',
 'Londonderry, New Hampshire',
 'Upper Montclair, New Jersey',
 'White Rock, New Mexico',
 'Sands Point, New York',
 'Davidson, North Carolina',
 'Williston, North Dakota',
 'Indian Hill, Ohio',
 'Jenks, Oklahoma',
 'Bethany, Oregon',
 'Edgeworth, Pennsylvania',
 'Greenville, Rhode Island',
 "Sullivan's Island, South Carolina",
 'Harrisburg, South Dakota',
 'Oak Hill, Tennessee',
 'Bellaire, Texas',
 'Highland, Utah',
 'South Burlington, Vermont',
 'Great Falls, Virginia',
 'Cottage Lake, Washington',
 'Teays Valley, West Virginia',
 'Whitefish Bay, Wisconsin',
 'Bar Nunn, Wyoming']

In [11]:
# instantiate list for future appending
rich_list = []

# Set range
offset_range = range(0,10)

In [12]:
# For Loop Time !

for rcity in rich_city_list:
    for gamma in offset_range:
        # Define parameters
        PARAMETERS = {'limit': 50,
                      'sort_by' : 'review_count',
                      'radius': 6_440,  # ~4 miles
                      'categories': cats,
                      'locale': 'en_US',
                      'price':'1,2,3,4',
                      'location': rcity,
                      'offset':0+(50*gamma)}

        # Make a request to Yelp API
        res = requests.get(url = ENDPOINT,
                           params=PARAMETERS,
                           headers = HEADERS)
        res2 = res.json()

        for i in range(len(res2['businesses'])):
            a = res2['businesses'][i]['id'] # business id
            b = res2['businesses'][i]['name'] # name
            c = res2['businesses'][i]['review_count']
            d = res2['businesses'][i]['rating']
            e = res2['businesses'][i]['price']
            f = res2['businesses'][i]['location']['city']
            g = res2['businesses'][i]['location']['state']
            h = res2['businesses'][i]['location']['country']
            x = res2['businesses'][i]['location']['zip_code'] # zip
            j = res2['businesses'][i]['categories'] # categories, unfortunately couldn't get this one parsed

            rich_list.append([a,b,c,d,e,f,g,h,x,j])

In [13]:
len(rich_list)

14237

### Data Extraction for top 200 most populous cities in the U.S.

In [76]:
pop_list = ['New York , New York',
'Los Angeles , California',
'Chicago , Illinois',
'Houston , Texas',
'Phoenix , Arizona',
'San Antonio , Texas',
'Philadelphia , Pennsylvania',
'San Diego , California',
'Dallas , Texas',
'San Jose , California',
'Austin , Texas',
'Jacksonville , Florida',
'Fort Worth , Texas',
'San Francisco , California',
'Charlotte , North Carolina',
'Columbus , Ohio',
'Indianapolis , Indiana',
'Seattle , Washington',
'Denver , Colorado',
'Washington Dc , District Of Columbia',
'Boston , Massachusetts',
'El Paso , Texas',
'Nashville , Tennessee',
'Portland , Oregon',
'Las Vegas , Nevada',
'Oklahoma City , Oklahoma',
'Detroit , Michigan',
'Memphis , Tennessee',
'Louisville , Kentucky',
'Baltimore , Maryland',
'Milwaukee , Wisconsin',
'Albuquerque , New Mexico',
'Tucson , Arizona',
'Fresno , California',
'Sacramento , California',
'Atlanta , Georgia',
'Kansas City , Missouri',
'Miami , Florida',
'Colorado Springs , Colorado',
'Raleigh , North Carolina',
'Long Beach , California',
'Virginia Beach , Virginia',
'Omaha , Nebraska',
'Oakland , California',
'Minneapolis , Minnesota',
'Tampa , Florida',
'Arlington , Texas',
'Tulsa , Oklahoma',
'New Orleans , Louisiana',
'Wichita , Kansas',
'Bakersfield , California',
'Cleveland , Ohio',
'Aurora , Colorado',
'Anaheim , California',
'Honolulu , Hawaii',
'Riverside , California',
'Santa Ana , California',
'Lexington , Kentucky',
'Corpus Christi , Texas',
'Henderson , Nevada',
'Stockton , California',
'St. Paul , Minnesota',
'Irvine , California',
'Orlando , Florida',
'Pittsburgh , Pennsylvania',
'Cincinnati , Ohio',
'Anchorage , Alaska',
'St. Louis , Missouri',
'Plano , Texas',
'Lincoln , Nebraska',
'Greensboro , North Carolina',
'Durham , North Carolina',
'Newark , New Jersey',
'St. Petersburg , Florida',
'Chula Vista , California',
'Toledo , Ohio',
'Scottsdale , Arizona',
'Fort Wayne , Indiana',
'Madison , Wisconsin',
'Lubbock , Texas',
'Laredo , Texas',
'Jersey City , New Jersey',
'Reno , Nevada',
'Chandler , Arizona',
'North Las Vegas , Nevada',
'Glendale , Arizona',
'Gilbert , Arizona',
'Buffalo , New York',
'Winston Salem , North Carolina',
'Chesapeake , Virginia',
'Irving , Texas',
'Norfolk , Virginia',
'Fremont , California',
'Richmond , Virginia',
'Boise , Idaho',
'Hialeah , Florida',
'Garland , Texas',
'Spokane , Washington',
'Tacoma , Washington',
'Baton Rouge , Louisiana',
'Fontana , California',
'Modesto , California',
'San Bernardino , California',
'Des Moines , Iowa',
'Moreno Valley , California',
'Oxnard , California',
'Mckinney , Texas',
'Birmingham , Alabama',
'Fayetteville , North Carolina',
'Port St. Lucie , Florida',
'Rochester , New York',
'Amarillo , Texas',
'Grand Prairie , Texas',
'Salt Lake City , Utah',
'Yonkers , New York',
'Frisco , Texas',
'Grand Rapids , Michigan',
'Huntsville , Alabama',
'Tempe , Arizona',
'Overland Park , Kansas',
'Little Rock , Arkansas',
'Cape Coral , Florida',
'Huntington Beach , California',
'Augusta , Georgia',
'Montgomery , Alabama',
'Tallahassee , Florida',
'Akron , Ohio',
'Mobile , Alabama',
'Knoxville , Tennessee',
'Brownsville , Texas',
'Shreveport , Louisiana',
'Sioux Falls , South Dakota',
'Worcester , Massachusetts',
'Santa Clarita , California',
'Vancouver , Washington',
'Rancho Cucamonga , California',
'Elk Grove , California',
'Fort Lauderdale , Florida',
'Ontario , California',
'Chattanooga , Tennessee',
'Newport News , Virginia',
'Salem , Oregon',
'Providence , Rhode Island',
'Corona , California',
'Peoria , Arizona',
'Eugene , Oregon',
'Santa Rosa , California',
'Oceanside , California',
'Pembroke Pines , Florida',
'Garden Grove , California',
'Fort Collins , Colorado',
'Cary , North Carolina',
'Springfield , Missouri',
'Alexandria , Virginia',
'Hollywood , Florida',
'Hayward , California',
'Lakewood , Colorado',
'Jackson , Mississippi',
'Lancaster , California',
'Salinas , California',
'Sunnyvale , California',
'Palmdale , California',
'Murfreesboro , Tennessee',
'Killeen , Texas',
'Escondido , California',
'Pomona , California',
'Pasadena , Texas',
'Mcallen , Texas',
'Savannah , Georgia',
'Macon Bibb County , Georgia',
'Bellevue , Washington',
'Naperville , Illinois',
'Paterson , New Jersey',
'Miramar , Florida',
'Torrance , California',
'Rockford , Illinois',
'Denton , Texas',
'Waco , Texas',
'Roseville , California',
'Fullerton , California',
'Charleston , South Carolina',
'Mesquite , Texas',
'Olathe , Kansas',
'Bridgeport , Connecticut',
'Orange , California',
'Syracuse , New York',
'Midland , Texas',
'Round Rock , Texas',
'Dayton , Ohio',
'West Valley City , Utah',
'Gainesville , Florida',
'Visalia , California',
'Columbia , South Carolina',
'Carrollton , Texas',
'Coral Springs , Florida'
]

# source: http://worldpopulationreview.com/us-cities/

In [77]:
# instantiate list for future appending
pop_list_final = []

# Set range
offset_range = range(0,10)

In [78]:
# For Loop Time !

for popcity in pop_list:
    for gamma in offset_range:
        # Define parameters
        PARAMETERS = {'limit': 50,
                      'sort_by' : 'review_count',
                      'radius': 6_440,  # ~4 miles
                      'categories': cats,
                      'locale': 'en_US',
                      'price':'1,2,3,4',
                      'location': popcity,
                      'offset':0+(50*gamma)}

        # Make a request to Yelp API
        res = requests.get(url = ENDPOINT,
                           params=PARAMETERS,
                           headers = HEADERS)
        res2 = res.json()

        for i in range(len(res2['businesses'])):
            a = res2['businesses'][i]['id'] # business id
            b = res2['businesses'][i]['name'] # name
            c = res2['businesses'][i]['review_count']
            d = res2['businesses'][i]['rating']
            e = res2['businesses'][i]['price']
            f = res2['businesses'][i]['location']['city']
            g = res2['businesses'][i]['location']['state']
            h = res2['businesses'][i]['location']['country']
            x = res2['businesses'][i]['location']['zip_code'] # zip
            j = res2['businesses'][i]['categories'] # categories, unfortunately couldn't get this one parsed

            pop_list_final.append([a,b,c,d,e,f,g,h,x,j])

In [79]:
len(pop_list_final)

96089

### DataFrame Consolidation

##### POPULOUS DF

In [96]:
populous = pd.DataFrame(pop_list_final, columns=['a','b','c','d','e','f','g','h','x','j'])

populous.rename(columns = {'a':'id',
                       'b': 'name',
                       'c':'review_count',
                       'd':'rating',
                       'e':'price',
                       'f':'city',
                       'g':'state',
                       'h':'country',
                       'x':'zip_code',
                       'j':'categories'
                      },inplace=True)

In [97]:
populous.shape

(96089, 10)

In [98]:
populous['designation'] = 'zz_populous'

In [99]:
populous.to_csv('./data/new/populous.csv', index=False)

##### POOR DF

In [87]:
poor = pd.DataFrame(poor_list, columns=['a','b','c','d','e','f','g','h','x','j'])

poor.rename(columns = {'a':'id',
                       'b': 'name',
                       'c':'review_count',
                       'd':'rating',
                       'e':'price',
                       'f':'city',
                       'g':'state',
                       'h':'country',
                       'x':'zip_code',
                       'j':'categories'
                      },inplace=True)

In [88]:
poor.shape

(6527, 10)

In [89]:
poor['designation'] = 'less_aff'

In [91]:
poor.to_csv('./data/new/poor.csv', index=False)

##### RICH DF

In [92]:
rich = pd.DataFrame(rich_list, columns=['a','b','c','d','e','f','g','h','x','j'])

rich.rename(columns = {'a':'id',
                       'b': 'name',
                       'c':'review_count',
                       'd':'rating',
                       'e':'price',
                       'f':'city',
                       'g':'state',
                       'h':'country',
                       'x':'zip_code',
                       'j':'categories'
                      },inplace=True)

In [93]:
rich.shape

(14237, 10)

In [94]:
rich['designation'] = 'very_aff'

In [95]:
rich.to_csv('./data/new/rich.csv', index=False)

### Read-In Additional Files

In [2]:
eliz = pd.read_excel('./data/new/eliz2.xlsx')

In [3]:
eliz.shape

(41037, 9)

In [4]:
income3 = pd.read_excel('./data/new/income3.xlsx')

In [5]:
income3.shape

(29873, 2)

In [6]:
poor = pd.read_csv('./data/new/poor.csv')
rich = pd.read_csv('./data/new/rich.csv')

poor.shape, rich.shape

((6527, 11), (14237, 11))

In [7]:
populous = pd.read_csv('./data/new/populous.csv', low_memory=False)
populous.shape

(96089, 11)

In [8]:
poor.rename(columns={'id':'business_id'}, inplace=True)
rich.rename(columns={'id':'business_id'}, inplace=True)
populous.rename(columns={'id':'business_id'}, inplace=True)

In [9]:
eliz.columns, income3.columns, poor.columns, rich.columns, populous.columns

(Index(['zip_code', 'zcta', 'mean_commute_time', 'percent_no_health_insurance',
        'percent_below_poverty', 'unemployment_rate', 'median_home_value',
        'percent_highschool_or_higher', 'percent_bachelors_or_higher'],
       dtype='object'),
 Index(['zip_code', 'agi'], dtype='object'),
 Index(['business_id', 'name', 'review_count', 'rating', 'price', 'city',
        'state', 'country', 'zip_code', 'categories', 'designation'],
       dtype='object'),
 Index(['business_id', 'name', 'review_count', 'rating', 'price', 'city',
        'state', 'country', 'zip_code', 'categories', 'designation'],
       dtype='object'),
 Index(['business_id', 'name', 'review_count', 'rating', 'price', 'city',
        'state', 'country', 'zip_code', 'categories', 'designation'],
       dtype='object'))

In [10]:
col = set(['zip_code', 'zcta', 'mean_commute_time', 'percent_no_health_insurance',
        'percent_below_poverty', 'unemployment_rate', 'median_home_value',
        'percent_highschool_or_higher', 'percent_bachelors_or_higher',
'zip_code', 'agi',
'business_id', 'name', 'review_count', 'rating', 'price', 'city',
        'state', 'country', 'zip_code', 'categories', 'designation',
'business_id', 'name', 'review_count', 'rating', 'price', 'city',
        'state', 'country', 'zip_code', 'categories', 'designation',

'business_id', 'name', 'review_count', 'rating', 'price', 'city',
        'state', 'country', 'zip_code', 'categories', 'designation' 
])

col

{'agi',
 'business_id',
 'categories',
 'city',
 'country',
 'designation',
 'mean_commute_time',
 'median_home_value',
 'name',
 'percent_bachelors_or_higher',
 'percent_below_poverty',
 'percent_highschool_or_higher',
 'percent_no_health_insurance',
 'price',
 'rating',
 'review_count',
 'state',
 'unemployment_rate',
 'zcta',
 'zip_code'}

In [11]:
col2 = ['zip_code',
        'business_id',
        'name',
        'price',
        'agi',
        'city',
        'state',
        'country',
        'designation',
        'mean_commute_time',
        'median_home_value',
        'percent_bachelors_or_higher',
        'percent_below_poverty',
        'percent_highschool_or_higher',
        'percent_no_health_insurance',
        'rating',
        'review_count',
        'unemployment_rate',
        'categories',
       ]

### CONSOLIDATE ALL INTO ONE DATAFRAME

In [12]:
mega = pd.DataFrame(columns=col2)

In [13]:
mega = pd.concat([poor, rich, populous])

In [14]:
mega.shape

(116853, 11)

In [15]:
mega.designation.value_counts()

zz_populous    96089
very_aff       14237
less_aff        6527
Name: designation, dtype: int64

In [16]:
mega = mega[mega['zip_code'].notna()]

In [17]:
mega = mega[mega['country']=='US']

In [18]:
mega.zip_code = mega.zip_code.astype(int)
income3.zip_code = income3.zip_code.astype(int)
eliz.zip_code = eliz.zip_code.astype(int)

In [19]:
mega = pd.merge(mega, eliz, how='left', on='zip_code')

In [20]:
mega = pd.merge(mega, income3, how='left', on='zip_code')

In [21]:
mega.shape

(116741, 20)

In [22]:
mega = mega[col2]

In [23]:
mega.shape

(116741, 19)

In [24]:
mega.head()

,zip_code,business_id,name,price,agi,city,state,country,designation,mean_commute_time,median_home_value,percent_bachelors_or_higher,percent_below_poverty,percent_highschool_or_higher,percent_no_health_insurance,rating,review_count,unemployment_rate,categories
0,36703,NWT7RXCslC-50qGTYG-Ktw,Lannie's Bar-B-Q Spot,$,131649.0,Selma,AL,US,less_aff,22.5,78100.0,8.0,15.3,81.1,13.5,4.0,42,19.0,"[{'alias': 'bbq', 'title': 'Barbeque'}]"
1,36701,rIeiAGsTWRpQLJixJ7-aLQ,Tally-Ho Restaurant,$$,346157.0,Selma,AL,US,less_aff,20.0,88000.0,17.8,15.0,83.2,11.2,4.0,33,10.5,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a..."
2,36701,HXus8XSETzUYWAaBkGbQWA,Lannie's Bar-B-Q,$$,346157.0,Selma,AL,US,less_aff,20.0,88000.0,17.8,15.0,83.2,11.2,4.0,32,10.5,"[{'alias': 'bbq', 'title': 'Barbeque'}]"
3,36701,f7LxiSPX7_WI0n_SIlRJzA,Golden Ranch Bar-B-Q & Grill,$$,346157.0,Selma,AL,US,less_aff,20.0,88000.0,17.8,15.0,83.2,11.2,4.0,22,10.5,"[{'alias': 'bbq', 'title': 'Barbeque'}, {'alia..."
4,36701,0DvjurvZZw_nndiH3EOUHw,The Sandbar,$,346157.0,Selma,AL,US,less_aff,20.0,88000.0,17.8,15.0,83.2,11.2,3.5,20,10.5,"[{'alias': 'sandwiches', 'title': 'Sandwiches'..."

### Clean data - evaluate and address nulls/missing values

In [25]:
a = mega.agi.isna().sum()
b = mega.agi.count()
a, b

(549, 116192)

In [26]:
a/b
# about 19% is missing Income info

0.0047249380335995595

In [27]:
mega.zip_code.isna().sum()

# ALL ZIP Codes are populated

0

In [28]:
mega.designation.value_counts()

zz_populous    95998
very_aff       14226
less_aff        6517
Name: designation, dtype: int64

In [29]:
mega.city.value_counts().sort_values(ascending=True)

Ross Township        1
Bratenahl            1
Teays Valley         1
El  Paso             1
Goodyear             1
                  ...
Louisville         943
Salt Lake City    1059
Tucson            1074
Houston           1178
New York          1186
Name: city, Length: 1997, dtype: int64

In [30]:
mega.city.isna().sum()

0

In [31]:
mega.price.isna().sum()

0

In [32]:
mega.describe()

,zip_code,agi,mean_commute_time,median_home_value,percent_bachelors_or_higher,percent_below_poverty,percent_highschool_or_higher,percent_no_health_insurance,rating,review_count,unemployment_rate
count,116741.000000,1.161920e+05,116517.000000,1.159170e+05,116603.000000,116429.000000,116603.000000,116591.000000,116741.000000,116741.000000,116598.000000
mean,59864.450793,1.229326e+06,23.729497,3.152794e+05,40.642932,11.563820,88.367382,10.806892,3.682241,206.327134,6.410472
std,29864.153474,1.016815e+06,5.372550,2.345621e+05,18.918612,8.464273,8.850941,6.399209,0.803594,396.845775,3.219454
min,1069.000000,2.098000e+03,1.000000,1.580000e+04,0.000000,0.000000,36.100000,0.000000,1.000000,1.000000,0.000000
25%,33067.000000,5.852230e+05,19.700000,1.674000e+05,25.200000,6.000000,84.400000,6.100000,3.500000,26.000000,4.200000
50%,68114.000000,9.990150e+05,22.700000,2.474000e+05,39.300000,9.100000,90.900000,9.300000,4.000000,75.000000,5.700000
75%,89101.000000,1.586059e+06,27.100000,3.909000e+05,53.900000,14.500000,94.700000,14.000000,4.000000,223.000000,7.700000
max,99903.000000,1.176666e+07,50.400000,2.000000e+06,100.000000,100.000000,100.000000,46.000000,5.000000,13528.000000,46.600000

In [33]:
mega.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 116741 entries, 0 to 116740
Data columns (total 19 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   zip_code                      116741 non-null  int32
 1   business_id                   116741 non-null  object
 2   name                          116741 non-null  object
 3   price                         116741 non-null  object
 4   agi                           116192 non-null  float64
 5   city                          116741 non-null  object
 6   state                         116741 non-null  object
 7   country                       116741 non-null  object
 8   designation                   116741 non-null  object
 9   mean_commute_time             116517 non-null  float64
 10  median_home_value             115917 non-null  float64
 11  percent_bachelors_or_higher   116603 non-null  float64
 12  percent_below_poverty         116429 non-null  float64
 13  percent_highschool_or_higher  116603 non-null  float64
 14  percent_no_health_insurance   116591 non-null  float64
 15  rating                        116741 non-null  float64
 16  review_count                  116741 non-null  int64
 17  unemployment_rate             116598 non-null  float64
 18  categories                    116741 non-null  object
dtypes: float64(9), int32(1), int64(1), object(8)
memory usage: 17.4+ MB

In [34]:
mega.median_home_value.isna().sum(), 18926/98223
# about 19K are null  (~20%)

(824, 0.1926839945837533)

In [40]:
fin = final.query('agi > 0 and median_home_value > 0').copy()

In [41]:
final.shape, fin.shape

((116741, 19), (115544, 19))

In [42]:
fin.designation.value_counts()

zz_populous    94909
very_aff       14153
less_aff        6482
Name: designation, dtype: int64

In [43]:
fin.agi.isna().sum()

0

In [44]:
fin.price.isna().sum()

0

In [47]:
fin.country.value_counts()

US    115544
Name: country, dtype: int64

In [48]:
fin.designation.value_counts()

zz_populous    94909
very_aff       14153
less_aff        6482
Name: designation, dtype: int64

### Eliminate any duplicates if any

In [51]:
# Sort to facilitate this
fin.sort_values(by=['name', 'city', 'state', 'zip_code'], inplace=True)

In [52]:
fin.shape

(115544, 19)

In [54]:
fin.drop_duplicates(subset=['name', 'city', 'state', 'zip_code'], inplace=True)

In [56]:
fin.shape
# Eliminated ~10K duplicates

(105691, 19)

In [61]:
fin.dropna(inplace=True)

In [63]:
fin.shape
# No other data loss

(105679, 19)

In [64]:
fin.isna().sum()

zip_code                        0
business_id                     0
name                            0
price                           0
agi                             0
city                            0
state                           0
country                         0
designation                     0
mean_commute_time               0
median_home_value               0
percent_bachelors_or_higher     0
percent_below_poverty           0
percent_highschool_or_higher    0
percent_no_health_insurance     0
rating                          0
review_count                    0
unemployment_rate               0
categories                      0
dtype: int64

In [68]:
(fin==np.nan).sum()

zip_code                        0
business_id                     0
name                            0
price                           0
agi                             0
city                            0
state                           0
country                         0
designation                     0
mean_commute_time               0
median_home_value               0
percent_bachelors_or_higher     0
percent_below_poverty           0
percent_highschool_or_higher    0
percent_no_health_insurance     0
rating                          0
review_count                    0
unemployment_rate               0
categories                      0
dtype: int64

### Export Prepared DataFrame to CSV for next phases

In [69]:
fin.to_csv('./data/new/final_consolidated_v3.csv', index=False)