### Import files

In [1]:
df = pd.read_csv('megamega.csv')

In [2]:
len(df['zip_code'].value_counts())
#3454 unique zip codes

3454

### Aggregate all mean values

We are going to create the price weight control features with the mean summation values: Price weight, price weight control, and v2.

In [3]:
df['price_weight'] = df['price']*df['review_count']*df['rating']

In [4]:
df['price_weight_contr'] = df['price_weight'] / df['population'] * 100

In [5]:
df['price_weight_contrv2'] = df['price_weight_contr'] / df['review_count']*100

In [6]:
mini = df.groupby('zip_code').agg("mean")

In [7]:
mini.drop(columns = ['median_price_sq_ft_2017'], inplace = True)

In [8]:
mini['zip_code'] = mini.index

In [9]:
mini.reset_index(drop = 'zip_code', inplace = True)

### Aggregate all sum values

By aggregating the sum values of the original dataframe, we were able to get a summation of 1 star, 3 and above star, and a 4 star counter per zip code.

In [10]:
df['high_price']  = df['price'].map(lambda x: 1 if x>2 else 0)

In [11]:
df['4_star']  = df['price'].map(lambda x: 1 if x>3 else 0)

In [13]:
df['1_star']  = df['price'].map(lambda x: 1 if x==1 else 0)

In [15]:
mini_sum = df.groupby('zip_code').agg('sum')

In [16]:
mini_sum['zip_code'] = mini_sum.index

In [31]:
mini_sum.reset_index(drop = 'zip_code', inplace = True)

In [19]:
mini_sum.drop(columns = ['price', 'percent_bachelors_or_higher', 'mean_commute_time', 'median_home_value', 'percent_bachelors_or_higher', 'percent_below_poverty', 'percent_highschool_or_higher', 'percent_no_health_insurance', 'rating', 'review_count', 'unemployment_rate', 'median_household_income', 'median_price_sq_ft_2017', 'population', 'density', 'income_category', 'price_weight', 'price_weight_contr', 'price_weight_contrv2'], inplace = True)

In [37]:
mini_final = pd.concat([mini, mini_sum], axis=1)

In [38]:
mini_final

,price,mean_commute_time,median_home_value,percent_bachelors_or_higher,percent_below_poverty,percent_highschool_or_higher,percent_no_health_insurance,rating,review_count,unemployment_rate,...,density,income_category,price_weight,price_weight_contr,price_weight_contrv2,zip_code,high_price,4_star,1_star,zip_code
0,3.000000,28.1,197100.0,29.2,5.4,92.6,3.4,4.500000,2.000000,6.9,...,116.4,1.0,27.000000,0.310416,15.520809,1069,1,0,0,1069
1,2.500000,17.8,174600.0,28.8,9.0,90.2,2.6,4.250000,9.500000,7.8,...,339.2,0.0,84.250000,0.188872,2.409936,1201,1,0,0,1201
2,1.500000,23.7,152000.0,22.6,8.6,88.1,1.7,4.250000,14.500000,6.5,...,135.1,0.0,98.875000,1.204471,7.461323,1220,0,0,2,1220
3,1.625000,19.2,153300.0,24.4,8.8,85.2,3.5,3.589286,29.500000,9.5,...,118.2,0.0,215.267857,1.382315,3.824155,1247,3,0,24,1247
4,2.000000,25.8,279500.0,46.3,7.0,96.3,1.1,3.000000,14.000000,5.6,...,73.5,2.0,84.000000,1.812689,12.947777,1373,0,0,0,1373
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3449,1.917808,16.9,315600.0,32.5,10.2,93.1,12.5,3.479452,61.493151,5.0,...,818.8,3.0,424.835616,1.815382,2.841930,99515,5,0,11,99515
3450,1.888889,17.1,304100.0,36.0,2.5,93.0,17.2,3.944444,52.444444,5.8,...,1961.8,3.0,404.666667,2.466728,4.504047,99517,0,0,1,99517
3451,1.800000,16.0,253200.0,29.3,1.0,93.8,17.2,3.542857,55.000000,3.9,...,1044.5,2.0,335.242857,3.208066,5.946685,99518,3,0,10,99518
3452,2.000000,32.6,247200.0,26.0,6.2,93.6,14.9,5.000000,22.000000,8.3,...,22.0,2.0,220.000000,0.722496,3.284072,99645,0,0,0,99645
3453,1.900990,13.5,265700.0,24.1,3.2,91.9,14.1,3.762376,23.079208,7.0,...,1.1,2.0,162.836634,1.178439,5.133926,99901,13,0,23,99901

### Exporting Files

In [40]:
mini_final.to_csv('mini_finalv2.csv', index = False)